.wrapper {
	max-width: 1170px;
	width: 100%;
	position: relative;
	margin: 0 auto;
}
.call_detail_yellow {
	color: #ffb100;
}
.call_detail_top {
	background-image: url("../minimg/call_detail_img/bg_img.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto;
	padding-top: 100px;
	min-height: 525px;
	height: 100%;
	border-bottom: 2px solid #f57c00;
	.wrapper {
		.call_detail_top_title {
			color: #ffffff;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 80px;
			text-align: center;
			line-height: 90px;
			margin: 0 auto 0 auto;
		}
		.mouseWheel {
			position: relative;
			height: 32px;
			top: 20px;
			left: inherit;
			-webkit-transform: none;
			-ms-transform: none;
			transform: none;
			bottom: 0;
			margin: 55px auto 0 auto;
			display: block;
		}
	}
	@media (max-width: 895px) {
		padding-top: 90px;
		.wrapper {
			.call_detail_top_title {
				font-size: 65px;
				line-height: 80px;
			}
			.mouseWheel {
				margin: 65px auto 0 auto;
			}
		}
	}
	@media (max-width: 725px) {
		padding-top: 85px;
		.wrapper {
			.call_detail_top_title {
				font-size: 50px;
				line-height: 65px;
			}
			.mouseWheel {
				margin: 110px auto 0 auto;
			}
		}
	}
	@media (max-width: 435px) {
		padding-top: 85px;
		.wrapper {
			.call_detail_top_title {
				font-size: 40px;
				line-height: 50px;
			}
			.mouseWheel {
				margin: 110px auto 0 auto;
			}
		}
	}
}
.call_detail_select {
	padding-top: 100px;
	.wrapper {
		.call_detail_select_body {
			display: flex;
			justify-content: space-between;
			.call_detail_select_item {
				display: flex;
				.call_detail_select_item_image {
					width: 70px;
					height: 70px;
					margin-right: 30px;
				}
				.call_detail_select_item_description {
					max-width: 450px;
					width: 100%;
					font-size: 16px;
					color: rgb(72, 72, 70);
					line-height: 1.563;
					text-align: left;
				}
			}
		}
	}
}